<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Post</title>
    <link rel="stylesheet" href="/editstyle.css">
</head>
<body>
    <h1>Edit Your Post</h1>
    <p>Post ID : <%=post.id%></p>
    <p>Post username : <%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
        <textarea name="content"><%=post.content%></textarea><br>
        <button>Submit</button>
    </form>
</body>
</html>